<!DOCTYPE html>
<html lang="en">
<head>
   {{>links}}
    <title>Document</title>
    {{>style}}
</head>
<body>
    <!-- navbar code -->
    {{>navbar}}

    <!-- main code -->
    <div class="container-fluid main_menu">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    
                    <div class="col-md-6 col-12 main_left">
                        <p>404 Page Not Found</p>
                        <h1>Oops.. <span class="txt">Error</span> !</h1>
                        <a href="/"><button>Back To Home</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer code -->
    <footer>
        <p>Created By ❤ Pradip Timbadiya</p>
    </footer>
</body>
</html>